body{
  font-family: lora;
  font-size: 18px;
}

body, ul {
  margin: 0;
  padding: 0;
}

h1, h2, .skills-list {
  font-family: montserrat;

}
img{
  max-width: 100%;
}


nav{
  z-index: 1;
  width: 100%;
}


header {
  position: relative;
  margin-bottom: 20px;
}

h1 {
  font-size: 100px;
  line-height: 130%;
}
h2 {
  font-size: 30px;
  line-height: 130%;
}

h1, h2 {
  font-weight: normal;
}

p{
  line-height: 150%;
}
ul li {
  list-style: none;
  margin: 10px 0;
}


.project {
  margin: 70px 0;
}

.project .button {
  margin-top: 10px;
}

footer{
  text-align: center;
  margin-left: 100px;
}
footer h2 {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 150px;
line-height: 130%;

color: #DB995A;
}

.right-alignment {
  text-align: right;
}


.logo {
  position: fixed; top: 0; left: 0;
  position: absolute;
}

.about {
  position: fixed; top: 0; right: 0;
  position: absolute;
}
.hero-text h2{

  font-size: 77px;
  line-height: 130.4%;
  position: absolute;
width: 788.59px;
height: 400px;
left: 155px;
top: 175px;
}
.work-text h2{

  font-size: 77px;
  line-height: 130.4%;
  position: absolute;
  width: 940px;
  height: 600px;
  left: 460px;
  top: 1083px;
}

.hero-image img  {
  position: relative;

width: 1000px;
height: 750px;
left: 387px;
top: 0px;
}
.work-image1 img  {
  position: relative;
  width: 1000px;
  height: 750px;
  left: 387px;
  top: 0px;
}

span:before{
  content: '';
  animation: animate infinite 15s;
}
@keyframes animate {

  0%{
    content: 'Bienvenue'
  }
  50%{
    content: 'Hello'
  }
  100%{
    content: 'Bienvenido'
  }
}
